<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
    <link href="/css/" rel="stylesheet" type="text/css"/>
</head>
<body>
<header class="header"><h1>KASHKUR YURY</h1> <h2>Pharmacologist, MD</h2>
</header>
<main>
   {% block main %}{% endblock %}
</main>
<footer>
    <address>
        <p>Phone: +375 (29) 817-14-27 <p/>
        <p>Email: <a href="https://mail.ru/">lupus_lucis@mail.ru</a></p>
        <p> Groupe VK: <a href="https://vk.com/sci_pharm">vk.com/sci_pharm</a></p>
        <p> Profile Vk: <a href="https://vk.com/pharm_me">vk.com/pharm_me</a> </p>
    </address>
</footer>
</body>
</html>