{% extends "base.html" %}
{% block title  %}index{% endblock %}

{% block main %}
 <h3> Education </h3>
    I graduated from the Belarusian State Medical University in 2018 with a degree in therapy,
    and completed practice on the basis of the Emergency Hospital
    Since 2019, I have been working as an assistant at the Department of Pharmacology of BSMU.
    I am the head of a scientific circle, the direction of which is Cochrane methodology.
    <h4> Professional interests</h4>
    <ul>
        <li>Methodology of RCT</li>
        <li>Meta-analysis of RCT data</li>
        <li>Evaluation of RCT results</li>
        <li>GRADE of RCT results</li>
    </ul>
{% endblock %}