{% load static %}
body{
background-image:url({% static 'webb.png' %});
font-family: 'Gotu', sans-serif;
}
h1,h2,h3{
font-family: sans-serif;
}
a{
color:white;
}
header{
color:white;
background:#4f4b42;
text-align: center;
line-height:1;
padding:5%;
margin-left:15%;
margin-right:15%;
}
main {
color:black;
height:400px;
background:#c9c9c9;
text-align: left;
line-height:1,5;
padding:5%;
margin-top:2%;
margin-left:15%;
margin-right:15%;
}
footer{
color:white;
height:150px;
background:#4f4561;
text-align: right;
line-height:1,5;
padding:5%;
margin-top:2%;
margin-left:15%;
margin-right:15%;
}